@font-face {
    src: url('../fonts/NunitoSans-Regular') rel="preload";
    font-family: "NunitoSans-Regular";
    src: url('../fonts/NunitoSans-Italic') rel="preload";
    font-family: "NunitoSans-Italic";
    src: url('../fonts/YesevaOne-Regular') rel="preload";
    font-family: "YesevaOne-Regular";
}
:root{
    --bgcolor: #131313;
    --fontcolor: #FFFFFF;
    --titlecolor: #E3B873;

}

/* ==================================================================================dekstop================ */

body {
margin: 0;
padding: 0;
font-family: 'NunitoSans-Regular', Arial, sans-serif;
font-size: 14px;
list-style: none;

}
.header {
    background-color: var(--bgcolor);
    color: var(--titlecolor);
    /* position:absolute; */
    /* position:relative; */
}
.header-container {
    display: flex;
    margin: 0 90px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* font-size: 0.78rem; */
    height: 83px;
    max-width: 1440px;
    flex-wrap: wrap;
}
.menu {
    /* list-style: none; */
    display:flex;
    justify-content: space-between;
}
.item {
margin-right: 47px;
}
.a {
    text-decoration: none;
    outline: none;
    color: var(--fontcolor);
    font-size: 11px;
}
.a:hover {
    text-decoration: none;
    outline: none;
    color: var(--titlecolor);
}
.logo {
    text-decoration: none;
    outline: none;
    color: var(--titlecolor);
    white-space: nowrap;
    
}
.span {
    white-space: nowrap;
    font-size: 11px;
    /* font-size: 0.7rem; */
}

.uppercase {
    text-transform: uppercase;
}
.italic{
    font-family: 'NunitoSans-Italic', Arial, sans-serif;
}
.underline {
    text-decoration: underline;
}
.button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color:#FFFFFF;
    cursor: pointer;
    font-size: 11px;
}

/* Здесь начинается основной контент */
.presentation {

background-color: rgba(0, 0, 0, 0.7);
background-blend-mode: multiply;
background-image: url('../images/image 4.3.jpg');
background-size: cover;
/* height: 100%; */
/* height: 707px; */
height: 100vh;
/* position:relative;
top: 0; */

/* height: calc(100vh - 83px); */

/* background-blend-mode: multiply; */
margin:0 auto;
}

.cover {
    max-width:1440px;
    width: 1250px;
    position:absolute;
    /* margin: 0 auto; */
    margin-top: 194px;
    margin-left: 134px; 
    box-sizing: border-box;
    
}
.title {
    margin: 0;
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;
    /* font-size: 2.85rem; */
    font-size: 40px;
    line-height: 1.33;
    color: var(--fontcolor);
    width: 676px;

}

.text {
    color: var(--fontcolor);
    /* font-size: 1.57rem; */
    font-size: 22px;
    width:504px;
    line-height: 1.64;
}

.button_apply {
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    /* padding: 13px 33px; */
    color:#FFFFFF;
    /* font-size: 0.79rem; */
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
   
    margin-right: 20px;
    /* width:207px;
    height:51px; */
    width:207px;
    height: 51px;
    
}


.button_apply:hover {
   
    background-color: #E3B873;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    /* padding: 13px 33px; */
    color:#FFFFFF;
    /* font-size: 0.79rem; */
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    /* box-sizing: border-box; */
    margin-right: 20px;
    width:207px;
    height: 51px;
      
}

.button-txt-mob{
    display: none;
}

.button-txt{
    display: block;
}
.title_yellow {
color: var(--titlecolor);
}

/* далее span projects */
.projects {
background-color: var(--bgcolor);
height: 1074px;

}
.progects-container {
    margin: 0 auto;
    width: 1171px;
    
    
}
.sliderimg{
    width: 679px;
    height:482px;
}
.slider {
    display: flex;
    justify-content: space-between;
}
.descripton_projects{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    /* grid-column: 2/2; */
}

.workdescript{
    width: 442px;

    font-family: 'NunitoSans-Italic', Arial, sans-serif;
    font-size: 14px;
    line-height: 27px;

    color: var(--fontcolor);
}
.projnav {
font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;

}

.menu-pr {
    /* list-style: none; */
    display:flex;
    justify-content: space-between;
}
.item-pr {
margin-right: 47px;
}
.a-pr {
    text-decoration: none;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.a-pr:hover {
    text-decoration: underline;
    outline: none;
    color: var(--titlecolor);
}
.header-container-pr {
    display: flex;
    /* margin: 0 90px;
    align-content: center; */
    justify-content: flex-end;
    padding: 107px 0 53px 0;
    /* align-items: center;
    /* font-size: 0.78rem; */
    /*height: 83px;
    max-width: 1440px;
    flex-wrap: wrap;   */
}
.h2 {
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;

    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: var(--titlecolor);
    margin-top: 0px;
    /* width: 253px; */
}
.kontainer {
    width: 253px;
}
.h3 {
    font-size: 18px;
    line-height: 25px;
}
.workdescript-ltl {
    font-size: 13px;
line-height: 21px;
}
.round {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
.round:hover {
    background-color: white;
    
}
.round-active {
    background-color: white;
    height: 10px;
    width: 10px;
    
    border-radius: 30px;
    
}
.slider-navigation {
    display: flex;
    width: 160px;
    justify-content: space-between; 
    margin-bottom: 0px;
    cursor: pointer;
}
.slider-mobile{
    display:none;
}
.leftinfo {
    position: relative;
}
.leftinfo > div:last-child {
    position: absolute;
    bottom: 0;

}

/* далее секция online control */

/* .measurement-container{
   margin: 0 auto;
   
} */
.measurement{
height: 1054px;
}
.h3-mesh {
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;;
    font-size: 20px;
    line-height: 28px;
    color: var(--fontcolor);
    margin: 30px auto;
}
.line {
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    margin: 0 10px; 
}
.camera-icon {
    margin: 30px auto;
    
    display: flex;
    align-items: center;
    align-content: center;
    
    
}
.iframe-container{
    /* position: relative; */
    margin: 0 auto;
    height: 434px;
}
.iframe-img-container {
   position: relative;
}
.iframe-img {
    position: absolute;
    top: 150px;
    right: 350px;
}
.iframe {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    
    background-image: url('../images/image 6.jpg');
    
    width: 817px;
    height: 434px;
    
}
.line55 {
    margin-top: 65px;
    width: 55px;
    height: 1.54px;
    background-color: #E3B873; 
}
.text2 {
    /* color: var(--fontcolor); */
    /* font-size: 1.57rem; */
    font-size: 18px;
    width: 681px;
    line-height: 36.83px;
    text-align: center;
    margin-top: 35px;
    /* font-family: 'NunitoSans-Regular', Arial, sans-serif; */

}

.measurement-container {
    width: 1140px;
    margin: -226px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    

}

.submit {
    width: 200px;
    height: 51px;
    font-size: 13px;
}
.checkboxName {
font-size: 13px;
color:rgba(0, 0, 0, 0.5);
margin: 0;
}
.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.checkbox-text {
    color:#131313;
}

.input-form {
    width: 231px;
    border :none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.form {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 770px;
}

.first-checkbox {
   
    margin-top: 30px;
}

/* далее types of repair */

.h3-cont {
    color: var(--bgcolor);
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;;
    font-size: 20px;
    line-height: 28px;
    margin-top: 147px;
   
}

.repair {
    height: 1054px;
}

.repair-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair-type1 {
    background-image: url('../images/redecorating.jpg');
    background-repeat: no-repeat;
    height: 392px;
    width: 421px;

}
.repair-type2 {
    background-image: url('../images/overhaul.jpg');
    background-repeat: no-repeat;
    height: 392px;
    width: 421px;

}
.repair-type3 {
    background-image: url('../images/desig-repair.jpg');
    background-repeat: no-repeat;
    height: 392px;
    width: 421px;

}
.redecorating-container {
    display: flex;
    justify-content: space-between;
    width: 1291px;
    margin-top: 30px;
}
.hammer-icon{
    margin: 0;
}
.redecorating {
    background-color: #fff;
    height: 330px;
    width: 286px;
    margin-top: 294px;
    margin-left: 34px;
    padding-top: 25px;
    padding-left: 34px;
}
.h3-redecorating {
    color: var(--bgcolor);
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}
.worklist {
    color: #959595;
    font-family: 'NunitoSans-Regular', Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    list-style-type: disc;
}

.button-price{
    width: 228px;
    height: 54px;
    font-size: 18px;
    padding: 0;
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;
}

.request-container{
    margin-top: 400px;
    width: 1291px;
    display: flex;
    justify-content: space-between;
}
.left-section{
    background-image: url('../images/image 6.1.jpg');
    background-size: cover;
    background-position: right; 
    width: 506px;
    height: 509px;
}

/* .left-img{
    background-image: url('../images/image 6.1.jpg');
    width: 506px;
    height: 509px;
    margin-top: -500px;
    margin-left: -200px;
} */
.right-section {
    background-color: #131313;
    width: 506px;
    padding: 49px;
}

.left-list{
    display:flex;
    align-content: baseline;
    width: 400px;
    line-height: 19px;
}

.right-form{
    color:#FFFFFF;
    font-size: 18px;
    width: 408px;
    text-align: center;
    line-height: 26px;
}

.input-form-black{
    background-color: #131313;
    color:#FFFFFF;
    width: 408px;
    border :none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 5px;
   
    
}

.grey{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 7px;
}

.white{
    color:white;
}

.chekbox-margin{
    margin-bottom: 48px;
}

.pig{
    display: flex;
    justify-content: flex-end;
    margin-right: 450px;
    margin-top: 20px;
    color:#E3B873;
    font-size: 18px;
    line-height: 25.78px;
}

.mesuarer{
    width: 213px;
    padding: 0;
    margin-left: 255px;
    margin-top: 30px;
}

.input-form-black::placeholder, .input-form-bottom::placeholder {
    color: rgb(255, 255, 255);
}

.team-container{
    
    margin: 0 auto;
    /* margin-top: 700px; */
    width: 1440px; 
    height: 864px;
    /* display: flex; */
    
}

.team-container-cover{
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-image: url('../images/image 5.1.jpg');
    background-size: cover;
    width: 1440px; 
    height: 864px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* padding: 99px; */

}

.team-p{
    color:#E3B873;
    margin-top: 50px;
    font-size: 20px;
}

.team-ul{
    color:#FFFFFF;
    list-style-type: none;
    margin-left: -40px;
    margin-top: 25px;
    line-height: 40px;
    font-size: 20px;
    
}

.gallery{
    display:flex;
    /* margin-top: -130px; */
    margin: 43px;
    
}

.left-pic{
    margin-top: -120px;
    width: 354px;
    padding: 20px;
}

.right-pic{
    margin-top: -197px;
    width: 354px;
    padding: 20px;
}

.gallery-pic{
    margin-bottom: 39px;
}

.gallery-left{
    margin: 30px;
    margin-top: 137px;
    padding: 50px;
}

.reviews-container{
   /* margin-top: 900px; */
   margin: 700px auto 0;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
}

.people-container{
    display:flex;
    margin-top: 63px;
    width: 1291px;
    justify-content: space-between;

}

.people-card{
    width: 376px;
}

.card-title{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card-title p {
    color:#181818;
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 23px;

}

.card-title img {
    margin-right: 20px;
}

.user-text{
    width: 324px;
    color: rgba(149, 149, 149, 1);
    font-family: 'NunitoSans-Regular', Arial, sans-serif;
    line-height: 23px;
    margin-bottom: 63px;

}

.button-users{
    width: 294px;
    height: 54px;
    padding: 0;
}

.bottom-form{
    width: 883px;
    height: 445px;
    margin-top: 130px;
    background-color:#131313;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.user-quest{
    color: #FFFFFF;
    /* margin-top: 34px; */
    margin: 34px auto;
    margin-bottom: 40px;
    text-align: center;

}

.form-content{
    display:flex;
    justify-content: space-between;
}

.input-form-bottom{
    background-color: #131313;
    color:#FFFFFF;
    width: 231;
    border :none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 5px;
   
    
}

.change-width{
    width: 516px;
}

.check-bottom{
    margin: 30px auto;
    margin-left: 100px;
}

.bottom-but{
    margin-left: 130px;
    margin-top: 30px;
}

.contacts-container{
    
    margin: 150px auto 0;
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 700px; */
    width: 1440px; 
    /* height: 953px; */
    /* display: flex; */
    background-image: url('../images/contacts.jpg');

    
}

.cont-logos {
    display: flex;
    justify-content: space-between;
    margin: 23px;
    
}

.footer-h3{
    font-size: 27px;
    text-align: center;
    letter-spacing: 1.8;
}

.logos{
    margin: 10px;
}

/* ==================================================================================mobile================= */
@media screen and (max-width: 758px){
    .nav {
        display: none;
    }

    header button{
        display: none;
    }

    header span {
        color:white;
    }

    .cover {
        /* max-width:768px; */
        width: 600px;
        margin: 40px;
        padding: 85px 18px;
    }
    .title {
        width: 339px;
        font-size: 23px;
    
    }

    .text{
        font-size: 14px;
        font-family: 'NunitoSans-Regular', Arial, sans-serif;
        width: 339px;

    }

    .button_apply, .button_apply:hover{
        width: 339px;
        margin-bottom: 30px;
    }

    .button-txt-mob{
        display: block;
    }

    .button-txt{
        display: none;
    }

    .presentation {
        width: 768px;
        height: 676px;
        background-size: auto, auto;
        background-position-x: -300px;
        /* background-position-y: 20px; */
        /* background-position-x: -300px;
        background-position-y: 20px; */

        /* background-size: unset; */
    }
/* ===========================================================completed projects */
    .slider-mobile{
        display: block;
    }

    .rightinfo{
        display:none;
    }

    .header-container-pr{
        display:none;

    }

    .footer{
        display:none;

    }
}