@font-face {
    src: url('../fonts/NunitoSans-Regular') rel="preload";
    font-family: "NunitoSans-Regular";
    src: url('../fonts/NunitoSans-Italic') rel="preload";
    font-family: "NunitoSans-Italic";
    src: url('../fonts/YesevaOne-Regular') rel="preload";
    font-family: "YesevaOne-Regular";
}
:root{
    --bgcolor: #131313;
    --fontcolor: #FFFFFF;
    --titlecolor: #E3B873;

}

@media screen and (max-width: 758px){

}

* {
list-style: none;

}

body {
margin: 0;
padding: 0;
font-family: 'NunitoSans-Regular', Arial, sans-serif;
font-size: 14px;

}
.header {
    background-color: var(--bgcolor);
    color: var(--titlecolor);
    /* position:absolute; */
    /* position:relative; */
}
.header-container {
    display: flex;
    margin: 0 90px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* font-size: 0.78rem; */
    height: 83px;
    max-width: 1440px;
    flex-wrap: wrap;
}
.menu {
    /* list-style: none; */
    display:flex;
    justify-content: space-between;
}
.item {
margin-right: 47px;
}
.a {
    text-decoration: none;
    outline: none;
    color: var(--fontcolor);
    font-size: 11px;
}
.a:hover {
    text-decoration: none;
    outline: none;
    color: var(--titlecolor);
}
.logo {
    text-decoration: none;
    outline: none;
    color: var(--titlecolor);
    white-space: nowrap;
    
}
.span {
    white-space: nowrap;
    font-size: 11px;
    /* font-size: 0.7rem; */
}

.uppercase {
    text-transform: uppercase;
}
.italic{
    font-family: 'NunitoSans-Italic', Arial, sans-serif;
}
.underline {
    text-decoration: underline;
}
.button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color:#FFFFFF;
    cursor: pointer;
    font-size: 11px;
}

/* Здесь начинается основной контент */
.presentation {

background-color: rgba(0, 0, 0, 0.7);
background-blend-mode: multiply;
background-image: url('../images/image 4.3.jpg');
background-size: cover;
/* height: 100%; */
/* height: 707px; */
height: 100vh;
/* position:relative;
top: 0; */

/* height: calc(100vh - 83px); */

/* background-blend-mode: multiply; */
margin:0 auto;
}

.cover {
    max-width:1440px;
    width: 1250px;
    position:absolute;
    /* margin: 0 auto; */
    margin-top: 194px;
    margin-left: 134px; 
    box-sizing: border-box;
    
}
.title {
    margin: 0;
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;
    /* font-size: 2.85rem; */
    font-size: 40px;
    line-height: 1.33;
    color: var(--fontcolor);
    width: 676px;

}

.text {
    color: var(--fontcolor);
    /* font-size: 1.57rem; */
    font-size: 22px;
    width:504px;
    line-height: 1.64;
}

.button_apply {
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    /* padding: 13px 33px; */
    color:#FFFFFF;
    /* font-size: 0.79rem; */
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
   
    margin-right: 20px;
    /* width:207px;
    height:51px; */
    width:207px;
    height: 51px;
    
}

.button_apply:hover {
   
    background-color: #E3B873;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    /* padding: 13px 33px; */
    color:#FFFFFF;
    /* font-size: 0.79rem; */
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    /* box-sizing: border-box; */
    margin-right: 20px;
    width:207px;
    height: 51px;
      
}
.title_yellow {
color: var(--titlecolor);
}

/* далее span projects */
.projects {
background-color: var(--bgcolor);
height: 1074px;

}
.progects-container {
    margin: 0 auto;
    width: 1171px;
    
    
}
.sliderimg{
    width: 679px;
    height:482px;
}
.slider {
    display: flex;
    justify-content: space-between;
}
.descripton_projects{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    /* grid-column: 2/2; */
}

.workdescript{
    width: 442px;

    font-family: 'NunitoSans-Italic', Arial, sans-serif;
    font-size: 14px;
    line-height: 27px;

    color: var(--fontcolor);
}
.projnav {
font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;

}

.menu-pr {
    /* list-style: none; */
    display:flex;
    justify-content: space-between;
}
.item-pr {
margin-right: 47px;
}
.a-pr {
    text-decoration: none;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.a-pr:hover {
    text-decoration: underline;
    outline: none;
    color: var(--titlecolor);
}
.header-container-pr {
    display: flex;
    /* margin: 0 90px;
    align-content: center; */
    justify-content: flex-end;
    padding: 107px 0 53px 0;
    /* align-items: center;
    /* font-size: 0.78rem; */
    /*height: 83px;
    max-width: 1440px;
    flex-wrap: wrap;   */
}
.h2 {
    font-family: 'YesevaOne-Regular', 'Times New Roman', Times, serif;

    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: var(--titlecolor);
    margin-top: 0px;
    /* width: 253px; */
}
.kontainer {
    width: 253px;
}
.h3 {
    font-size: 18px;
    line-height: 25px;
}
.workdescript-ltl {
    font-size: 13px;
line-height: 21px;
}
.round {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
.round:hover {
    background-color: white;
    
}
.round-active {
    background-color: white;
    height: 10px;
    width: 10px;
    
    border-radius: 30px;
    
}
.slider-navigation {
    display: flex;
    width: 160px;
    justify-content: space-between; 
    margin-bottom: 0px;
    cursor: pointer;
}
.leftinfo {
    position: relative;
}
.leftinfo > div:last-child {
    position: absolute;
    bottom: 0;

}

/* далее секция online control */

/* .measurement-container{
   margin: 0 auto;
   
} */
.h3-mesh {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    color: var(--fontcolor);
    margin: 30px auto;
}
.line {
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    margin: 0 10px; 
}
.camera-icon {
    margin: 30px auto;
    display: flex;
    align-items: center;
    align-content: center;
    
    
}
.iframe-container{
    /* position: relative; */
    margin: 0 auto;
    height: 434px;
}
.iframe-img-container {
   
}
.iframe-img {
   
}
.iframe {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    
    background-image: url('../images/image 6.jpg');
    
    width: 817px;
    height: 434px;
    
}
.line55 {
    width: 55px;
    height: 1.54px;
    background-color: #E3B873; 
}
.text2 {
    /* color: var(--fontcolor); */
    /* font-size: 1.57rem; */
    font-size: 18px;
    width: 681px;
    line-height: 36.83px;
    text-align: center;
}

.measurement-container {
    width: 1140px;
    margin: -226px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    

} 
